<?xml version="1.0"?>

<launch>
    

  <env name="GAZEBO_MODEL_PATH"
        value="$(find panda_pkg)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <include file="$(find panda_moveit_config)/launch/demo_gazebo.launch" />


  <node pkg = "panda_pkg" type = "ik_pick_place.py" name = "ik_pick_place_node" output = "screen" />


    <!-- launch robot control node for moveit motion planning -->
    <!-- <node pkg="panda_pkg" type="robot_control_node" name="robot_control_node" output="screen" /> -->

  <!-- <include file="$(find panda_pkg)/launch/rviz.launch" /> -->

  <!--Default node -->
	<node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

</launch>